<!-- Modal -->
<div th:fragment="modelBox" class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 400px;margin-top: 120px;z-index: 2;">
    <div class="modal-content bg-transparent border-0">
        <div class="outter-container">
            <div class="container box-holder">
            <!-- action box -->
            <div class="row signBox bg-dark rounded-3" id="signupBox">
                <div class="col-12">
                    <div class="login-form p-3">
                        <form th:action="@{'/user/signup'}" method="post" class="row g-3">
                            <h3 class="text-center text-info">Sign Up</h3>
                            
                            <input type="hidden" name="mode" value="CREATE" >
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-person-fill"></i>
                                    </span>
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-envelope-fill"></i>
                                    </span>
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-shield-lock-fill"></i>
                                    </span>
                                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                                </div> 
                            </div>
                            <div style="height: 20px;"></div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-info w-50 rounded-pill text-light shadow" >Signup</button>
                            </div>
                        </form>
                        <hr class="mt-4">
                        <div class="col-12">
                            <p class="text-center mb-0">already have an account? <a href="#" onclick="transfer('signin')">Signin</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- action box -->

            <!-- action box -->
            <div class="row signBox bg-dark rounded-3" id="signinBox">
                <div class="col-12">
                    <div class="login-form p-3">
                        <form th:action="@{'/user/signin'}" method="post" class="row g-3">
                            <h3 class="text-center text-info">Sign In</h3>
                            
                            <input type="hidden" name="mode" value="CREATE" >
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-person-fill"></i>
                                    </span>
                                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-shield-lock-fill"></i>
                                    </span>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div> 
                            </div>
                            <div style="height: 20px;"></div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-info w-50 rounded-pill text-light shadow" >SignIn</button>
                            </div>
                        </form>
                        <hr class="mt-4">
                        <div class="col-12">
                            <p class="text-center mb-0">don't have an account? <a href="#" onclick="transfer('signup')">Signup</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- action box -->
            </div>
        </div>
    </div>
    </div>
</div>