<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link th:replace="~{common/header :: header}" rel="stylesheet" href="#">
	<link rel="stylesheet" th:href="@{/css/style-detail.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Detail Page</title>
</head>

<body>

	<nav th:replace="~{common/nav :: navebar}"></nav>

	<div class="bg-img-container">

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img th:src="@{'/image/movie/'+${movie.id}+'/show'}" class="d-block w-100"
						style="aspect-ratio: 2 / 1;object-fit: cover;" alt="bg-image">
				</div>
				<div th:each="photo : ${photos}" class="carousel-item">
					<img th:src="@{'/image/photo/'+${photo.id}+'/show'}" class="d-block w-100"
						style="object-fit: cover;object-position: center;" alt="bg-image">
				</div>
			</div>
		</div>

		<div class="over-bg-img">
			<div class="container">
				<div class="row  mt-5 d-flex justify-content-between">
					<div class="col-3">
						<div class="fix-image">
							<img th:src="@{'/image/movie/'+${movie.id}+'/show'}" class="img-fluid rounded" alt="image">
							<div class="d-flex justify-content-evenly">
								<a th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:href="@{'/movie/'+${movie.id}+'/update'}" class="btn btn-outline-info" style="width: 45%;">Update</a>
								<button th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" class="btn btn-outline-danger" style="width: 45%;" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
								<div th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:insert="~{common/delete :: deleteBox}"></div>
							</div>
						</div>
					</div>
					<div class="head col-8">
						<div class="title">
							<h1 th:text="${movie.title}">Title H1</h1>
							<p th:text="${movie.title}">title p</p>
							<div th:text="${movie.type}">Movie</div>
						</div><br>
						<div class="rating-box">
							<input type="hidden" th:value="${movie.rating}" id="movieRating"/>
							<div> Rating : 
								<div th:replace="~{common/star-rating :: starRating}"></div>
								<span th:text="${movie.releaseDate}"></span>
							</div>
						</div>
						<div class="runtime">
							<p>Runtime : <span th:text="${T(com.hostmdy.movie.format.HourFormat).formatToHour(movie.runtime)}"></span></p>
						</div>
						<div class="info-list">
							<ul>
								<li>Genere:
									<a th:each="genere : ${movie.generes}" th:href="@{'/'+${genere.id}+'/genere'}">
										<span th:text="${genere.genere}+', '"></span>
									</a>
								</li>
								<li>Country: <span th:text="${movie.country}">country</span></li>
								<li>Director: <span th:text="${movie.createdBy}">director</span></li>
								<li>Cast: <span th:text="${movie.starring}">starring</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container content">
		<div class="switch">
			<button id="synopsisBtn" onclick="active('synopsis')">Synopsis</button>
			<button id="episodeBtn" onclick="active('episode')"
				th:text="${(movie.type.toString() == 'MOVIE')? 'Download Link' : 'Episode'}">Ep links</button>
			<button id="reviewBtn" onclick="active('review')">Review</button>
		</div>
		<div id="synopsis" class="contentInfo synopsis-info">
			<div class="lang-box">
				<div class="btn-con">
					<button class="engBtn" onclick="change('eng')">Eng sub</button>
					<button class="mmBtn" onclick="change('mm')">MM sub</button>
				</div>
				<div class="egBox" th:text="${movie.synopsis.synopsisEng}">Eng</div>
				<div class="mmBox" th:text="${movie.synopsis.synopsisMm}">Mm</div>
			</div>
		</div>
		<div id="episode" class="contentInfo episode-info">
			<div class="scrollable-y">
			<ul th:each="episode : ${movie.episodes}">
				<li>
					<span th:if="${movie.type.toString() == 'SERIES'}" th:text="'Episode '+${episode.episode}+' _  '"></span>
					<a th:href="@{'/movie/'+${movie.id}+'/view'}"><span th:text="${episode.link}"></span></a>
					<span class="text-info" th:text="' ( '+${episode.quality}+' )'"></span>
					<a th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:href="@{'/episode/'+${movie.id}+'/update/'+${episode.id}}" class="btn btn-outline-info ms-3 shadow-sm">Edit</a>
					<a th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:href="@{'/episode/'+${movie.id}+'/delete/'+${episode.id}}" class="btn btn-outline-danger ms-3 shadow-sm">Delete</a>
				</li>
			</ul>
			<a th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:href="@{'/episode/'+${movie.id}+'/form'}" class="btn btn-outline-primary ms-5 shadow-sm">Add More</a>
			<a th:if="${#ctx.session.viewer != null && #ctx.session.viewer.role == 'admin'}" th:href="@{'/image/photo/'+${movie.id}+'/form'}" class="btn btn-outline-warning ms-5 shadow-sm">Background Photos</a>
			</div>
		</div>
		<div id="review" class="contentInfo comment-info">
			<div class="wapp-comment-box">
				<div th:each="comment : ${comments}" class="comment-box">
					<div class="user-info">
						<div>
							<h4><i class="bi bi-person-square"></i></h4> <span th:text="${comment.writer}"></span>
						</div>
						
						<div class="dropdown">
							<div class="record">
							<!-- <p th:text="${(LocalDate != comment.record)? comment.record : #temporals.format(comment.recordTime, 'HH:mm')}"></p> -->
							<p th:text="${T(com.hostmdy.movie.format.HourFormat).formatBackCount(comment.record,comment.recordTime)}" ></p>
							</div>
						  <button class="btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
						    <i class="bi bi-three-dots-vertical text-light"></i>
						  </button>
						  <ul th:if="${comment.getViewer() == #ctx.session.viewer}" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="min-width: 90px;">
						    <li><a class="dropdown-item" th:onclick="|changeEdit('edit','${comment.id}')|" >Edit</a></li>
						    <li><a class="dropdown-item" th:href="@{'/comment/'+${movie.id}+'/delete/'+${comment.id}}">Delete</a></li>
						  </ul>
						</div>
						
					</div>
					<div class="comments">
						<p class="actCom act" th:id="'comPara'+${comment.id}" th:text="${comment.comment}">Some Comments..... </p>
						<div class="edit-box actCom" th:id="'comEditer'+${comment.id}">
							<form th:action="@{'/comment/'+${movie.id}+'/create'}" method="post">
								<input type="hidden" name="commentId" th:value="${comment.id}"/>
								<textarea name="comment" class="form-control" th:text="${comment.comment}" required></textarea>
								<div class="editBtnCon">
									<button type="button" class="btn btn-secondary m-2" th:onclick="|changeEdit('undo','${comment.id}')|">cancel</button>
									<button type="submit" class="btn btn-info m-2">save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="input-comment">
					<form class="input-group" th:action="@{'/comment/'+${movie.id}+'/create'}" method="post">
						<input type="hidden" name="commentId" value="0"/>
						<input class="form-control" name="comment" type="text" placeholder="comment...." required />
						<button th:if="${#ctx.session.viewer != null}" type="submit" class="btn text-secondary border-dark shadow">send</button>
						<!-- not sign in yet -->
						<button th:if="${#ctx.session.viewer == null}" type="button" class="btn text-secondary border-dark shadow" data-bs-toggle="modal" data-bs-target="#signinModal">send</button>
        				<div th:if="${#ctx.session.viewer == null}">
							<div th:replace="~{common/signIn :: modelBox}"></div>
						</div>
        				<!-- not sign in yet -->
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{common/footer :: footer}"></footer>
	<script th:src="@{/script/rating-script.js}"></script>
	<script th:src="@{/script/script.js}"></script>
	<script th:src="@{/script/detail-script.js}"></script>
	<script th:replace="~{common/bootstrap-script :: footer}"></script>
</body>

</html>